body {
	margin: 0;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
p {
	margin: 0 0 10px;
}

/*===============Container=================*/
.container {
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
}

/*==============Header====================*/
.header {
	margin-top: 25px;
	text-align: center;
	width: 100%;
	height: 60px;
	background-color: #DCDCDC;
}

/*==================Nav====================*/
.nav {
	display: flex;
	align-items: center;
	font-size: 35px;
	padding-top: 7px;
}

.nav__link {
	color: black;
	text-decoration: none;
	opacity: 0.75;
	margin-left: 230px;

	transition: opacity .1s;
}

.nav__link:hover {
	opacity: 1;

}


/*==================Intro==================*/
.intro {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.intro__title {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
	font-weight: normal;
	margin: 0 0 20px;
}

.intro__inner {
	width: 100%;
	margin: 0 auto;
}

.intro__subtitle {
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 25px;
}

/*============Button==========*/
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 40px;

	border-radius: 3px;
	cursor: pointer;
	border-color: black;
	box-shadow: 1px 1px 5px black;


	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	color: black;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;

	transition: background .1s linear;
}

.btn--red {
	background-color: white;

}

.btn--red:hover {
	background-color: #DCDCDC;
}
/*=============Main============*/
.main {
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.main__title {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
	font-weight: normal;
	text-align: center;
}

.base {
	display: flex;
	flex-direction: row;
	height: 100vh;
	max-height: 590px;
}

/*========Main_information============*/
.base__information {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: -15px;
}

.information__title {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 90px;
	font-weight: normal;
	text-align: center;
}

.information__title a {

	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	color: black;
	transition: background .1s linear;
}

.information__title a:hover {
    color: #c33;
 }

.information__description {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}

.information_paragraph {
	margin: 0 auto;
}

/*========Main_decoration============*/

.base__decoration {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.img__decoration {
	position: relative;
    display: inline-block;
	display: block;
    margin: 0 auto;
    margin-top: 20px;
	margin-top: -15px;
	width: 100%;
	height: 100%;
}

.base__decoration span {
	position: absolute;
    font-size: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 470px;
    padding-left: 420px;
}

.base__decoration a {

	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	color: black;
	transition: background .1s linear;
}

.base__decoration a:hover {
    color: #c33;
 }

/*=============Theory============*/

.theory {
	display: flex;
	flex-direction: row;
	height: 100vh;
	box-sizing: border-box;
	max-height: 650px;
}

/*=======List-theory==========*/

.theory__philosophers {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.theory__philosophers__title {
	position: relative;
    display: inline-block;
	display: block;
	height: 40%;
}

.theory__philosophers__title img {
	display: block;
    margin: 0 auto;
	margin-top: 25px;
	height: 70%;
}

.theory__philosophers__title span {
	position: absolute;
    font-size: 80px;
    display: block;
    margin: 0 auto;
    top: 0px;
    text-align: center;
    padding: 55px 330px;
}

.theory__list {
	position: relative;
    margin: 0 auto;
    margin-top: -65px;
    width: 100%;
}

.theory__list ul {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style-type : decimal;
}

.theory__list li {
	float:left;
}

.theory__list a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	color: black;
	transition: background .1s linear;
}

 .theory__list a:hover {
    color: #ccf;
}

.theory__philosophers__text {
	position: relative;
	margin-top: 365px;
	height: 20%;
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	font-weight: normal;
	text-align: center;
}


/*======Description-theory======*/

.theory__description {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.theory__description__text {
	margin-top: 40px;
	height: 20%;
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	font-weight: normal;
	text-align: center;
}

.img_description {
	display: block;
    margin: 0 auto;
    margin-top: 20px;
	width: 68%;
	height: 73%;
}

/*=============Theory_ancient============*/

.theory__ancient {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.theory__title {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 75px;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.theory__ancient__text {
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	font-weight: normal;
	text-align: center;
}

.theory__ancient p {
	margin: 0 auto;
}

.theory__ancient__information {
	display: flex;
	flex-direction: row;
	height: 50%;
}

.theory__ancient__list {
	position: relative;
    margin: 0 auto;
    padding-top: 30px;
    width: 60%;
}

.theory__ancient__list ul {
	position: absolute;
    left: 65%;
    transform: translateX(-50%);
    list-style-type : decimal;
}

.theory__ancient__list a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	color: black;
	transition: background .1s linear;
}

 .theory__ancient__list a:hover {
    color: #ccf;
}

.theory__ancient__img {
	width: 45%;
	height: 430px;
}

/*=============Theory_phylosopher============*/

.theory__philosopher {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.theory__philosopher__title {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 80px;
	font-weight: normal;
	text-align: center;
	padding-top: 15px;
}

.theory__philosopher__date {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
}

.theory__philosopher__img {
	display:block;
	margin:0 auto;
	height: 35%;
	width: 35%;
}

.theory__philosopher__razd {
	display:block;
	margin:0 auto;
	width: 30%;
	padding-top: 10px;
}

.theory__biography__title {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
}

.theory__biography__text {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin:0 10% 0 10%;
	padding-top: 15px;
}

.theory__biography__title__mini {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	padding-top: 15px;
}

.theory__biography__list {
    font-family: 'Open Sans', sans-serif;
    margin:0 10% 0 10%;
	font-size: 20px;
}

.theory__biography__list ul {
    list-style-type : decimal;
}

.theory__biography__list_points {
    font-family: 'Open Sans', sans-serif;
    margin:0 10% 0 10%;
	font-size: 20px;
}

.theory__biography__list_points ul {
    list-style-type : disc;
}

.dict_picture {
	display: block;
    margin: 0 auto;
    margin-top: 50px;
	width: 65%;
	height: 65%;
}

.title_letter {
	color: hsl(0, 64%, 66%);
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.dictionary p{
	font-family: 'Amatic SC', cursive;
	font-weight:900;
	font-size: 25px;
}

.dict__list {
	 position: relative;
	 margin: 0 auto;
	}

.dict__list ul {
	 position: absolute;
	 margin-top: -35px;
	 transform: translateX(-50%);
	 left: 50%;
	 width: 500px;
	}

 .dict__list li {
	 float:left;
	 column-count: 2;
	}

	.dict__list a {
	 text-transform: uppercase;
	 text-decoration: none;
	 font-weight: normal;
	 color: black;
	 transition: background .1s linear;
	}

 .dict__list a:hover {
	 color: #ccf;
	}

 .dict__philosophers__text {
			 position: relative;
			 height: 20%;
			 font-family: 'Amatic SC', cursive;
			 font-weight: 900;
			 font-size: 30px;
			 font-weight: normal;
			 text-align: center;
	}

 .dict_text {
			 position: relative;
			 margin-top: 0px;
			 height: 20%;
			 font-family: 'Amatic SC', cursive;
			 font-size: 45px;
			 font-weight: normal;
			 text-align: center;
	}

	.dict_picture {
	display: block;
    margin: 0 auto;
    margin-top: 50px;
	width: 65%;
	height: 65%;
}

/*=============Test============*/

.test__philosopher {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.test__title {
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 62px;
	font-weight: normal;
	text-align: center;
	padding-top: 15px;
}

.test__razd {
	display:block;
	margin:0 auto;
	width: 35%;
	padding-top: 10px;
}

.test__img {
	display:block;
	margin:0 auto;
	height: 30%;
	width: 35%;
	padding-top: 20px;
}

.test__question__text {
	margin: 5 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
	margin:0 15% 0 18%;
  }

.test__answer__text {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin:0 15% 0 20%;
	padding-top: 10px;
	text-align: left;
}

.test__buttons {
	text-align: center;
	padding-top: 10px;
}

.test__button {
	display: inline-block;
	vertical-align: top;
	padding: 10px 40px;

	border-radius: 3px;
	cursor: pointer;
	border-color: black;
	box-shadow: 1px 1px 5px black;


	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	color: white;
	background-color: #555555;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	margin:0 0% 0 2%;
}

.test__result {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	padding-top: 10px;
	font-size: 50px;
}

input[type="text"] {
	border: 1px solid #811e1e00;
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-khtml-border-radius: 3px; 
	background: #ffffff !important; 
	outline: none; 
	height: 50px; 
	width: 60px; 
	color: #3a3a3a;
	font-size: 50px; 
	font-family: 'Open Sans', sans-serif;
	margin:0 -3% 0 0%;
 }

.test__description {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.test__description__text {
	margin-top: 40px;
	height: 20%;
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	font-weight: normal;
	text-align: center;
}

.img_test_list {
	display: block;
    margin: 0 auto;
    margin-top: 5px;
	width: 85%;
	height: 85%;
}

.otstup {
	margin-top: 50px;
}